  .addBtn {
    background:green;
    border:none;
    height:32px;
    margin-top:20px;
    color:#ffffff;
    font-weight:bold;
    width:180px;
  }
  
  .editBtn {
    background:blue;
    border:none;
    color:#ffffff;
    font-weight:bold;height:22px;
    width:60px;
  }
  
  .deleteBtn {
    background:red;
    border:none;
    color:#ffffff;
    font-weight:bold;
    height:22px;
    width:60px;
  
  }

  .editor {
      .table {
          tbody {
              img {
                  width: 100px;
                  height: 100px;
              }
          }
      }
  }

  .imageUpload {
      img {
          width: 50px;
          height: 50px;
          border: 1px solid #000;
      }
  }

  select {
    &.userFilter {
      option {
        min-height: auto;
      }
  }
}

.cards {
  justify-content: flex-start;
  flex-wrap: wrap;
  display: flex;
  .card {
    width: 18rem;
    margin: 0 30px 30px;
    align-items: center;
    img {
      &.play-icon {
        width: 30px;
        height: 30px;
        cursor: pointer;
        margin-right: 5px;
      }
    }
  }
}

.avatar-upload {
  width: 200px;
  height: 200px;
  position: relative;
  border-radius: 100%;
  overflow: hidden;
  border: 12px solid #fff;
  -webkit-box-shadow: 0 0 45px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 0 45px rgba(0, 0, 0, .2);
  box-shadow: 0 0 45px rgba(0, 0, 0, .2);
  margin: 0 auto;
  margin-bottom: 15px;
  img {
     width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.admin-search {
  width: 100%;
}

.play-txt {
  font-size: 16px;
  color: #e93b94;
}