html, body, ul, ol {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Helvetica, sans-serif;
    font-size: 0.8rem;
    min-height: 100%;
    width: 100%;
    background-color: rgb(244, 245, 246);
  }

  header {
    img {
        width: 100%;
    }
    .logo {
        font-size: 2rem;
    }
  }

  footer {
    background: #e7eaee;
    font-size: 14px;
  }
  